html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Tipografías principales */

.main-title {
    color: #8338ec;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-title {
    color: #2e2e31;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card-title {
    color: #2e2e31;
    font-size: 18px;
    font-weight: 700;
}

.description {
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.section-description {
    max-width: 400px;
}

/* Estilos para todas las secciones */

.section {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

/* Menú de navegación: lo voy a estilar al final */

.nav-menu {
    display: none;
}

/* Estilos de la sección Sobre mí */

.about-section {
    flex-wrap: wrap;
}

.about-text-container {
    display: flex;
    flex-direction: column;
}

.introduction {
    color: #2e2e31;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 5px;
}

.cta {
    background-color: #8338ec;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    width: 210px;
}

.about-section img {
    max-width: 500px;
}

/* Estilos de la sección Mis conocimientos */

.skills-section {
    background-color: #f6f7fb;
    flex-direction: column;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 840px;
}

.skill-card {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 40px;
    transition: 0.1s;
    width: 260px;
}

/* Tarjeta en hover */

.skill-card:hover {
    border: 1px solid #995cef;
}

.skill-img {
    margin-bottom: 40px;
    max-width: 80px;
}

/* Estilos de la sección de frase */

.quote-section {
    background-color: #8338ec;
    color: #fff;
    flex-direction: column;
    text-align: center;
}

.fa-quote-right {
    font-size: 72px;
    margin-bottom: 40px;
}

.quote-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 840px;
}

.quote-author {
    font-size: 24px;
}

/* Estilos de la sección Mis proyectos */

.projects-section {
    flex-direction: column;
    text-align: center;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
}

.project-card {
    align-items: center;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 40px;
    text-decoration: none;
    transition: 0.1s;
    width: 320px;
}

/* Tarjeta en hover */

.project-card:hover {
    border: 1px solid #995cef;
}

.project-img {
    margin-bottom: 10px;
    max-width: 200px;
}