html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Tipografías principales */

.main-title {
    color: #8338ec;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-title {
    color: #2e2e31;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card-title {
    color: #2e2e31;
    font-size: 18px;
    font-weight: 700;
}

.description {
    color: #616161;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.section-description {
    max-width: 400px;
}

/* Estilos para todas las secciones */

.section {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

/* Estilos del menú de navegación */

.nav-menu {
    background-color: #fff;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    display: flex;
    justify-content: flex-end;
    padding: 35px 200px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: 0 10px;
}

.nav-link {
    color: #2e2e31;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

/* Links del menú en hover */

.nav-link:hover {
    color: #8338ec;
}

/* Links del menú en focus */

.nav-link:focus {
    box-shadow: 0px 0px 7px #8338ec;
}

.menu-cta {
    background-color: #8338ec;
    border-radius: 30px;
    color: #fff;
    padding: 12px 32px;
    text-align: center;
}

/* CTA del menú en hover */

.menu-cta:hover {
    background-color: #995cef;
    color: #fff;
}

/* CTA del menú en focus */

.menu-cta:focus {
    background-color: #6314d1;
    box-shadow: 0px 0px 7px #8338ec;
}

/* Estilos de la sección Sobre mí */

.about-section {
    flex-wrap: wrap;
    margin-top: 80px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
}

.introduction {
    color: #2e2e31;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 5px;
}

.cta {
    background-color: #8338ec;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    width: 210px;
}

/* Estilos de CTA en hover */

.cta:hover {
    background-color: #995cef;
}

/* Estilos del CTA en focus */

.cta:focus {
    background-color: #6314d1;
    box-shadow: 0px 0px 7px #8338ec;
}

.about-section img {
    max-width: 500px;
}

/* Estilos de la sección Mis conocimientos */

.skills-section {
    background-color: #f6f7fb;
    flex-direction: column;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 840px;
}

.skill-card {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 40px;
    transition: 0.1s;
    width: 260px;
}

/* Tarjeta en hover */

.skill-card:hover {
    border: 1px solid #995cef;
}

.skill-img {
    margin-bottom: 40px;
    max-width: 80px;
}

/* Estilos de la sección de frase */

.quote-section {
    background-color: #8338ec;
    color: #fff;
    flex-direction: column;
    text-align: center;
}

.fa-quote-right {
    font-size: 72px;
    margin-bottom: 40px;
}

.quote-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 840px;
}

.quote-author {
    font-size: 24px;
}

/* Estilos de la sección Mis proyectos */

.projects-section {
    flex-direction: column;
    text-align: center;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
}

.project-card {
    align-items: center;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 40px;
    text-decoration: none;
    transition: 0.1s;
    width: 320px;
}

/* Tarjeta en hover */

.project-card:hover {
    border: 1px solid #995cef;
}

.project-img {
    margin-bottom: 10px;
    max-width: 200px;
}

/* Estilos de la sección de contacto */

.contact-section {
    background-color: #f6f7fb;
}

.contact-container {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    display: flex;
    padding: 40px;
    max-width: 1020px;
}

.contact-column {
    width: 50%;
    padding: 20px;
}

.social-media-item {
    list-style-type: none;
}

.social-media-link {
    align-items: center;
    border-radius: 100px;
    color: #2e2e31;
    display: flex;
    padding: 5px 10px;
    text-decoration: none;
}

/* Links en focus */

.social-media-link:focus {
    box-shadow: 0px 0px 7px #8338ec;
}

.social-media-link i {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #8338ec;
    font-size: 20px;
    margin-right: 8px;
    padding: 8px;
    text-align: center;
}

/* Links de redes sociales en hover */

.social-media-link:hover {
    color: #8338ec;
}

.social-media-link:hover > i {
    background-color: #8338ec;
    color: #fff;
}

/* Estilos del formulario de contacto */

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form > div {
    margin-bottom: 20px;
}

.name-input-container {
    display: flex;
}

.half-size-form-control {
    width: 50%;
}

.half-size-form-control:nth-child(1) {
    padding-right: 2%;
}

.form-control label {
    color: #2e2e31;
    font-weight: 600;
}

input, textarea {
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    width: 100%;
}

/* Estilos del input y del textarea en focus */

input:focus, textarea:focus {
    box-shadow: 0px 0px 7px #8338ec;
}

.submit-button {
    background-color: #8338ec;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    width: 140px;
}

/* Botón en hover */

.submit-button:hover {
    background-color: #995cef;
    cursor: pointer;
}

/* Estilos del footer */

footer {
    background-color: #8338ec;
    flex-direction: column;
    text-align: center;
}

.footer-nav-list {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.footer-nav-item {
    list-style-type: none;
    margin: 10px;
}

.footer-nav-link {
    color: #fff;
    text-decoration: none;
}

/* Links en focus */

.footer-nav-link:focus {
    box-shadow: 0px 0px 8px #fff;
}

.footer-social-media-icons {
    display: flex;
    margin-bottom: 20px;
}

.footer-social-media-item {
    list-style-type: none;
    margin: 10px;
}

/* El display:block; lo puse porque si no, no se veían bien los estilos en focus */

.footer-social-media-link {
    display: block;
}

.footer-social-media-item i {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #8338ec;
    font-size: 20px;
    padding: 10px;
    transition: 0.1s;
}

/* Íconos de redes sociales en hover */

.footer-social-media-item i:hover {
    color: #fff;
    background-color: #8338ec;
    border: 1px solid #fff;
}

/* Íconos de redes sociales en focus */

.footer-social-media-link:focus {
    border-radius: 50%;
    box-shadow: 0px 0px 8px #fff;
}

.credits {
    color: #fff;
}